@media (max-width: 1290px) {

    /* Стили для экранов с максимальной шириной 1440px */
    .header_board {
        max-width: 100%;
        width: calc(100% - 30px);
    }

    .kogoo_russia_testdrive_moskva-our_goal {
        font-size: 14px;
        margin-bottom: 0;
    }

    .electricscooters_hits {
        flex-direction: column;
    }

    .electricscooters_title {
        margin-bottom: 20px;
    }

    .freeShipping_electricscooters {
        width: 100%;
    }

    .email {
        width: 100%;
    }

    .kogoo_russia {
        max-width: 100%;
        width: calc(100% - 30px);
    }

    .kogoo_russia_testdrive_moskva {
        max-width: 100%;
        width: calc(100% - 30px);
        margin: 58px 10px 0 0;
    }

    .kogoo_russia_testdrive_moskva_brend {
        padding: 20px 0;
    }

    .footer {
        width: 100%;
    }

    .video_card {
        max-width: 100%;
    }

    .freeShipping_electricscooters_text {
        margin-left: 600px;
    }

    .kogoo_russia_testdrive_moskva-official {
        font-size: 30px;
    }

    .kogoo_russia_testdrive_moskva_brend {
        font-size: 12px;
        padding-left: 10px;
    }

    .about_store {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .background1 .header_board_container_content {
        padding: 0 20px;
    }

    .background2 .header_board_container_content {
        padding: 0 20px;
    }
}

@media (max-width: 1080px) {
    .header_searc form {
        width: 100%;
    }

    .header_icons {
        margin-left: 0;
    }
}

@media (max-width: 1024px) {
    .background1 .header_board_container_content {
        padding: 0 20px;
    }

    .background2 .header_board_container_content {
        padding: 0 20px;
    }

    .kogoo_russia_testdrive_moskva-official {
        font-size: 30px;
    }

    .freeShipping_electricscooters {
        width: 100%;
    }

    .header_board_container {
        height: 421px;
        background: url(../images/velo-back.png) no-repeat 605px bottom,
            url(../images/shadov.svg) no-repeat 555px bottom,
            url(../images/kirin.png) no-repeat 225px 233px;
    }
}

@media (max-width: 1024px) {
    .header .container {
        justify-content: center;
    }
.header_logo{

}
    .contacts {
        width: 650px;
    }
    .garant_list li:first-child {
        margin-right: 20px;
    }

    /* Стили для планшетов */
    .email_form {
        padding-left: 20px;
    }

    .garant_list li:nth-child(2) {
        margin-right: 20px;
    }

    .kogoo_russia_testdrive_moskva-our_goal {
        margin-bottom: 0;
        font-size: 14px;
    }

    .footer_info_buyers {
        padding-left: 20px;
    }

    .electricscooters_choice-wrap {
        padding-left: 10px;
        max-width: 100%;
        width: calc(100% - 20px);
    }

    .footer_logotips {
        padding-left: 20px;
    }

    .kogoo_russia_testdrive_moskva-official {
        font-size: 28px;
    }

    .header_board {
        width: 100%;
        width: calc(100% - 30px);
    }

    .electricscooters_choice_slider:nth-last-child(3) {
        display: none;
    }

    .selection {
        display: none;
    }

    .freeShipping_electricscooters {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .freeShipping_electricscooters_text {
        margin-left: 270px;
        padding-top: 20px;
    }

    .popularCategories_cards_techniques:nth-child(4) {
        display: none;
    }

    .see_everything {
        margin-bottom: 50px;
    }

    .kogoo_russia {
        display: none;
    }

    .video_card {
        width: 100%;
        height: 470px;
    }

    .answer_questions {
        margin-top: 50px;
    }

    .email_form {
        flex-direction: column;
    }

    .footer_info_buyers {
        flex-direction: column;
    }

    .call_center_titles_links h6 {
        margin-top: 15px;
    }

    .call_center_titles_links {
        display: block;
    }

    .footer_contacts_call_shops {
        flex-direction: column;
    }

    .footer_logotips {
        flex-direction: column;
    }

    .social_network {
        margin-top: 15px;
    }

    .footer_requisites_link {
        padding-left: 20px;
    }

    .footer_payment-online_chat {
        padding-right: 20px;
    }

    .new_articles {
        max-width: 100%;
        width: calc(100% - 10px);
    }

    .popularCategories_cards {
        max-width: 100%;
        width: calc(100% - 20px);
    }

    .footer_requisites_link {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .footer_requisites_link-spec {
        margin-right: 0;
    }

    .footer_requisites_payment-method {
        display: none;
    }

    .testdrive_wrap {
        display: none;
    }

    .line_wrap {
        display: none;
    }

    .header_searc form {
        width: auto;
    }

    .about_store_link_info li a {
        margin-left: 25px;
    }

    .header_icons i:nth-child(1) {
        display: none;
    }

    .header_icons i:nth-child(2) {
        margin-right: 5px;
    }

    .header_icons {
        margin-left: 10px;
    }

    .about_store {
        width: 100%;
    }

    .item .background1 .header_board_container_content {
        padding: 0 20px;
    }

    .item .background2 .header_board_container_content {
        padding: 0 20px;
    }

}

@media (max-width: 1000px) {
.about_store {
        width: 100%;
    }

    .email {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .kogoo_russia_testdrive_moskva-our_goal {
        font-size: 14px;
        margin-bottom: 0;
    }

    .about_store {
        width: 100%;
    }

    .background1 .header_board_container_content {
        padding: 0 20px;
    }

    .background2 .header_board_container_content {
        padding: 0 20px;
    }

    .dropdown {
        display: none;
    }

    .header_searc_scooter {
        width: auto;
    }

    .yandex_revies {
        margin-left: 0;
    }
}

@media (max-width: 768px) {

    /* Стили для мобильных устройств в портретной ориентации */
    .header_icons {
        margin-left: 95px;
    }

    .about_store_link_info li:nth-child(2) {
        display: none;
    }

    .contacts {
        justify-content: space-around;
    }

    .header_icons i:nth-child(1) {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .garant {
        display: none;
    }

    .header {
        width: 100%;
    }

    .header_searc_scooter {
        width: auto;
    }

    .header_searc form {
        width: auto;
    }

    .about_store {
        width: 100%;
    }

    .header_board {
        width: 100%;
    }

    .header_board_container {
        background: url(../images/velo-back.png) no-repeat 350px 65px;
        background-size: contain;
        padding-top: 15px;
        height: 420px;
        width: 100%;
        box-sizing: border-box;
    }

    .header_board_container_content {
        height: 100%;
        padding: 25px 40px;
    }

    .free_btn {
        margin-left: 0;
    }

    .testdrive_wrap {
        margin-top: -26px;
        margin-left: 0px;
    }

    .line_wrap {
        display: none;
    }

    .electricscooters_hits {
        display: block;
        text-align: center;
    }

    .electricscooters_hits_purpose {
        margin-top: 20px;
        margin-left: 60px;
    }

    .electricscooters_choice_slider:nth-last-child(4) {
        display: none;
    }

    .electricscooters_choice_slider:nth-last-child(3) {
        display: none;
    }

    .electricscooters_choice-wrap {
        justify-content: space-evenly;
    }

    .electricscooters_choice:nth-child(3) {
        display: none;
    }

    .freeShipping_electricscooters {
        display: none;
    }

    .selection {
        display: none;
    }

    .kogoo_russia {
        display: none;
    }

    .popularCategories_cards {
        display: none;
    }

    .see_everything {
        display: none;
    }

    .manager {
        display: inline-block;
        margin-top: 0;
        margin-left: 250px;
        margin-bottom: 45px;
    }

    .order_options {
        display: none;
    }

    .manager h3 {
        display: none;
    }

    .video_card {
        width: 700px;
        height: 350px;
    }

    #playButton {
        top: 35%;
        left: 40%
    }

    .favorable_prices {
        display: none;
    }

    .no-js .owl-carousel,
    .owl-carousel.owl-loaded {
        display: none;
    }

    #uniqueCarousel {
        display: block;
    }

    .video_reviews {
        display: none;
    }

    .new_articles {
        display: none;
    }

    .answer_questions {
        display: none;
    }

    .email {
        width: 100%;
        padding-left: 30px;
    }

    .footer {
        width: 100%;
        padding: 0 20px;
    }

    .footer_contacts_call_shops {
        flex-direction: column;
    }

    .footer_info_buyers {
        flex-direction: column;
        width: 100%;
    }

    .call_center_titles {
        margin-top: 20px;
    }

    .footer_logo {
        display: none;
    }

    .footer_logotips {
        flex-direction: column;
    }

    .footer_payment {
        display: none;
    }

    .social_network {
        padding-top: 0;
    }

    .call_center_titles_links {
        display: block;
    }

    .call_center_titles_links h6 {
        margin-bottom: 10px;
    }

    .email_form_content-btn {
        margin-top: 10px;
    }

    .new_articles {
        display: none;
    }

}

@media (min-width: 768px) {

    .fa-bars,
    .fa-x {
        display: none;
        /* Скрываем иконки бара и закрытия на десктопах */
    }

    .header_board_container {
        padding-top: 0;
    }
}

@media (max-width: 600px) {
    .about_store {
        display: none;
    }

    .header_icons {
        display: none;
    }

    .manager {
        margin-left: 0;
    }

    .video_card {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 576px) {
    .menu_end {
        display: flex;
    }

    /* Стили для мобильных устройств в портретной ориентации */
    .header_icons {
        margin-left: 8px;
    }

    .header_icons i:nth-child(2) {
        display: none;
    }

    .about_store_back {
        display: none;
    }

    .about_store_link_info li:nth-child(2) {
        display: none;
    }

    .about_store_link_info li:nth-child(3) {
        display: none;
    }

    .contacts {
        justify-content: space-around;
    }

    .header_icons i:nth-child(1) {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .garant {
        display: none;
    }

    .header {
        width: 100%;
    }

    .header_searc_scooter {
        width: auto;
    }

    .header_searc form {
        width: auto;
    }

    .about_store {
        width: 100%;
    }

    .header_board {
        width: 100%;
    }

    .header_board_container {
        background: url(../images/velo-back.png) no-repeat 350px 65px;
        background-size: contain;
        padding-top: 0px;
        height: 420px;
        width: 100%;
        box-sizing: border-box;
    }

    .header_board_container_content {
        height: 100%;
        padding: 25px 40px;
    }

    .free_btn {
        margin-left: 0;
    }

    .testdrive_wrap {
        margin-top: -26px;
        margin-left: 0px;
    }

    .line_wrap {
        display: none;
    }

    .electricscooters_hits {
        display: block;
        text-align: center;
    }

    .electricscooters_hits_purpose {
        margin-top: 20px;
        margin-left: 60px;
    }

    .electricscooters_choice_slider:nth-last-child(4) {
        display: none;
    }

    .electricscooters_choice_slider:nth-last-child(3) {
        display: none;
    }

    .electricscooters_choice-wrap {
        justify-content: space-evenly;
    }

    .electricscooters_choice:nth-child(3) {
        display: none;
    }

    .freeShipping_electricscooters {
        display: none;
    }

    .selection {
        display: none;
    }

    .kogoo_russia {
        display: none;
    }

    .popularCategories_cards {
        display: none;
    }

    .see_everything {
        display: none;
    }

    .manager {
        margin-left: 140px;
        margin-bottom: 0;
    }

    .order_options {
        display: none;
    }

    .manager h3 {
        display: none;
    }

    .video_card {
        display: none;
    }

    #playButton {
        top: 35%;
        left: 40%
    }

    .favorable_prices {
        display: none;
    }

    .no-js .owl-carousel,
    .owl-carousel.owl-loaded {
        display: none;
    }

    #uniqueCarousel {
        display: block;
    }

    .video_reviews {
        display: none;
    }

    .new_articles {
        display: none;
    }

    .answer_questions {
        display: none;
    }

    .email {
        width: 100%;
        padding-left: 0;
    }

    .footer {
        width: 100%;
        padding: 0 20px;
    }

    .footer_contacts_call_shops {
        flex-direction: column;
    }

    .footer_info_buyers {
        flex-direction: column;
        width: 100%;
    }

    .call_center_titles {
        margin-top: 20px;
    }

    .footer_logo {
        display: none;
    }

    .footer_logotips {
        flex-direction: column;
    }

    .footer_payment {
        display: none;
    }

    .social_network {
        padding-top: 0;
    }

    .call_center_titles_links {
        display: block;
    }

    .call_center_titles_links h6 {
        margin-bottom: 10px;
    }

    .email_form_content-btn {
        margin-top: 10px;
    }

    .email_form {
        flex-direction: column;
    }

    .new_articles {
        display: none;
    }

    .online_store {
        display: none;
    }

    .nav_menu {
        display: block;
    }

    .background1 .header_board_container_content {
        position: absolute;
        top: 15px;
    }

    .background2 .header_board_container_content {
        position: absolute;
        top: 10px;
    }

}

@media (max-width: 480px) {

    /* Стили для мобильных устройств в альбомной ориентации */
    .menu_end {
        display: flex;
    }

    .container {
        max-width: 1100px;
        width: calc(100% - 30px);
    }

    .section {
        border: none;
    }

    .cooperation {
        display: none;
    }

    .header {
        margin-left: 0;
    }

    .header .container {
        display: block;
        margin-bottom: 0;
        align-items: center;
    }

    .header_icons {
        display: none;
    }

    .header_icon_searc {
        border: none;
        padding-right: 10px;
        border: 1.50px solid var(--purple);
        border-radius: 0 5px 5px 0;
        width: auto;
        height: auto;
        background: none;
        border: none;
    }

    .header_icon_searc i {
        color: #5D6C7B;
        font-size: 12px;
    }

    .header_logo {
        display: none;
        width: 70px;
        margin-bottom: 17px;
    }

    .about_store {
        display: none;
        align-items: center;
        position: relative;
        flex-direction: column;
        background-color: white;
        width: 100%;
        z-index: 11;
        height: 100vh;
    }

    .about_store_back {
        flex-direction: column;
    }

    .about_store_link {
        flex-direction: column;
        text-align: center;
        background-color: white;
    }

    .about_store_link_info {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .about_store_link_info_links {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
    }

    .about_store_link li:first-child {
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 35px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }

    .about_store_link li:nth-child(3) {
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
        margin-top: 5px;
    }

    .about_store_link .about_store_link_installment {
        margin-left: 0;
    }

    .about_store_link_info li:nth-child(1) {
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }

    .about_store_link_info li a {
        margin-left: 0;
    }

    .about_store_link_info li:nth-child(2) {
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }

    .about_store_link_info li:nth-child(3) {
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }

    .about_store_link_info li:nth-child(5) {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .about_store_percent {
        margin-top: 5px;
        margin-left: 0;
    }

    .btn_catalog {
        display: none;
    }

    .header_board .owl-nav {
        display: none;
    }

    .header_board-text {
        font-size: 12px;
        line-height: 130%;
        text-transform: uppercase;
    }

    .header_board-text p:nth-child(1) {
        width: 162px;
    }

    .header_searc {
        border: 0;
        background: var(--bachground);
        border-radius: 10px;
        margin-bottom: 20px;
        width: 100%;
        margin-top: 50px;
    }

    .header_searc form {
        width: 100%;
    }

    .dropbtn {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .header_searc_scooter {
        background: var(--bachground);
        width: 100%;
    }

    .incatalog {
        display: none;
    }

    .header_board_new {
        font-size: 8px;
        border: 0.50px solid var(--white);
        border-radius: 3px;
        width: 44px;
        height: 17px;
        margin-bottom: 10px;
        padding-top: 4px;
    }

    .uniqueCarousel .owl-dots .owl-dot {
        top: 120px;
    }

    #uniqueCarousel .owl-theme .owl-dots .owl-dot:hover span {
        background: var(--purple);
    }

    #uniqueCarousel .background1 {
        padding-top: 0;
    }

    #uniqueCarousel .background2 {
        padding-top: 0;
    }

    .testdrive_wrap {
        display: none;
    }

    .line_wrap {
        display: none;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        display: none;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 20px;
        height: 2px;
    }

    #uniqueCarousel .owl-carousel {
        margin-bottom: 30px;
        /* Добавляет отступ снизу для карусели */
    }

    #uniqueCarousel .owl-dots {
        position: absolute;
        bottom: -15px;
        left: 50%;
        /* Центрирование dots */
        transform: translateX(-50%);
        /* Точное центрирование */
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #uniqueCarousel .owl-dot {
        background: transparent;
        width: 10px;
        height: 10px;
        border-radius: 0%;
        margin: 0 10px;
        /* Расстояние между точками */
    }

    #uniqueCarousel .item {
        height: 125px;
    }

    .freeshipping {
        font-size: 10px;
    }

    .garant {
        display: none;
    }

    .electricscooters {
        display: none;
    }

    .electricscooters_choice {
        display: none;
    }

    .see_everything {
        display: none;
    }

    .selection {
        display: none;
    }

    .my-unique-carousel .owl-stage-outer {
        display: none;
    }

    .freeShipping_electricscooters {
        display: none;
    }

    .popularCategories {
        display: none;
    }

    .popularCategories_cards {
        display: none;
    }

    .kogoo_russia {
        display: none;
    }

    .favorable_prices {
        display: none;
    }

    .online_store {
        display: none;
    }

    .order_options {
        display: none;
    }

    .video_card {
        display: none;
    }

    .favorable_prices {
        display: none;
    }

    .my-unique-carousel {
        display: none;
    }

    .video_reviews {
        display: none;
    }

    .new_articles {
        display: none;
    }

    .answer_questions {
        display: none;
    }

    .often_buy {
        display: none;
    }

    .email {
        width: 480px;
        width: 100%;
    }

    .email_form {
        height: auto;
        display: block;
    }

    .email_form_content {
        display: block;
    }

    .email_form_content button {
        display: block;
    }

    .email_form p {
        text-align: center;
        font-size: 14px;
        width: 100%;
        height: auto;
        padding: 0 18px 18px;
    }

    .email_form_content input {
        margin-right: 0;
        max-width: 100%;
        width: 100%;
    }

    .email_form_content-btn {
        margin-top: 16.5px;
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .footer_info_buyers {
        display: none;
    }

    .footer_logo {
        display: none;
    }

    .footer_payment {
        display: none;
    }

    .footer_payment-online_chat {
        margin-left: 30%;
        margin-bottom: 25px;
    }

    .footer_logotips {
        padding-bottom: 14px;
    }

    .footer_requisites_link a {
        display: block;
        text-align: center;
    }

    .footer_requisites_link {
        display: block;
        width: 100%;
    }

    .footer_requisites_link-spec {
        margin-right: 0;
    }

    .header_board_container {
        background: url("../images/velo-back.png") no-repeat 205px bottom;
        background-size: 160px 120px;
        /* Четко определите размеры изображения */
        padding-top: 0px;
        height: 125px;
        /* Явно задайте высоту */
        width: 100%;
        box-sizing: border-box;
    }

    .header_board {
        max-width: 480px;
        width: calc(100% - 30px);
        height: auto;
        margin: 0 auto;
        overflow: visible;
    }

    .header_board_container_content {
        padding: 0;
    }

    .social_network {
        padding-top: 25px;
        text-align: center;
        width: 100%;
    }

    .social_network a {
        margin-left: 0;
        margin-right: 0;
    }

    .social_network a img:nth-child(1) {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .social_network a img:nth-child(2) {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .service {
        margin-top: 27px;
        display: flex;
        margin-bottom: 15px;
        justify-content: space-between;
    }

    .service li {
        display: inline-block;
        position: relative;
        left: 5%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .chat_online {
        display: inline-block;
    }

    .chats {
        display: inline-block;
    }

    .nav_menu {
        display: block;
    }

    .scooter {
        width: 100%;
    }

    .nav_menu .about_store_link {
        display: none;
    }

    label {
        width: 100%;
    }

    .background1 .header_board_container_content {
        position: absolute;
        top: 15px;
    }

    .background2 .header_board_container_content {
        position: absolute;
        top: 10px;
    }

}

@media (max-width: 320px) {

    /* Стили для мобильных устройств в альбомной ориентации */
    .menu_end {
        display: flex;
    }

    .container {
        max-width: 1100px;
        width: calc(100% - 30px);
    }

    .section {
        border: none;
    }

    .cooperation {
        display: none;
    }

    .header {
        margin-left: 0;
    }

    .header .container {
        display: block;
        margin-bottom: 0;
        align-items: center;
    }

    .header_icons {
        display: none;
    }

    .header_icon_searc {
        border: none;
        padding-right: 10px;
        border: 1.50px solid var(--purple);
        border-radius: 0 5px 5px 0;
        background: none;
        border: none;
    }

    .header_icon_searc i {
        color: #5D6C7B;
        font-size: 12px;
    }

    .header_logo {
        width: 70px;
        margin-bottom: 17px;
    }

    .nav_menu_logo {
        margin-bottom: 17px;
        margin-top: 10px;
    }

    .about_store {
        display: none;
        align-items: center;
        position: relative;
        flex-direction: column;
        background-color: white;
        width: 100%;
        z-index: 11;
        height: 100vh;
    }

    .about_store_back {
        flex-direction: column;
    }

    .about_store_link {
        flex-direction: column;
        text-align: center;
        background-color: white;
    }

    .about_store_link_info {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .about_store_link_info_links {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
    }

    .about_store_link li:first-child {
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 35px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }

    .about_store_link li:nth-child(3) {
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
        margin-top: 5px;
    }

    .about_store_link .about_store_link_installment {
        margin-left: 0;
    }

    .about_store_link_info li:nth-child(1) {
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }

    .about_store_link_info li a {
        margin-left: 0;
    }

    .about_store_link_info li:nth-child(2) {
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }

    .about_store_link_info li:nth-child(3) {
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }

    .about_store_link_info li:nth-child(5) {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .about_store_percent {
        margin-top: 5px;
        margin-left: 0;
    }

    .contacts {
        display: none;
    }

    .cooperation {
        display: none;
        width: 100%;
    }

    .btn_catalog {
        display: none;
    }

    .header_board .owl-nav {
        display: none;
    }

    .header_board-text {
        font-size: 12px;
        line-height: 130%;
        text-transform: uppercase;
    }

    .header_board-text p:nth-child(1) {
        width: 162px;
    }

    .header_searc {
        border: 0;
        background: var(--bachground);
        border-radius: 10px;
        margin-bottom: 20px;
        width: 100%;
        margin-top: 70px;
    }

    .header_catalog {
        display: block;
    }

    .service {
        margin-top: 27px;
        display: flex;
        margin-bottom: 15px;
        justify-content: space-between;
    }

    .service li a {
        margin-right: 0;
    }

    .dropbtn {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .header_searc_scooter {
        background: var(--bachground);
        width: 100%;
    }

    .incatalog {
        display: none;
    }

    .header_board_new {
        font-size: 8px;
        border: 0.50px solid var(--white);
        border-radius: 3px;
        width: 44px;
        height: 17px;
        margin-bottom: 10px;
        padding-top: 4px;
    }

    .uniqueCarousel .owl-dots .owl-dot {
        top: 120px;
    }

    #uniqueCarousel .owl-theme .owl-dots .owl-dot:hover span {
        background: var(--purple);
    }

    .testdrive_wrap {
        display: none;
    }

    .line_wrap {
        display: none;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        display: none;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 20px;
        height: 2px;
    }

    #uniqueCarousel .owl-carousel {
        margin-bottom: 30px;
        /* Добавляет отступ снизу для карусели */
    }

    #uniqueCarousel .owl-dots {
        position: absolute;
        bottom: -15px;
        left: 50%;
        /* Центрирование dots */
        transform: translateX(-50%);
        /* Точное центрирование */
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #uniqueCarousel .owl-dot {
        background: transparent;
        width: 10px;
        height: 10px;
        border-radius: 0%;
        margin: 0 10px;
        /* Расстояние между точками */
    }

    #uniqueCarousel .item {
        height: auto;
    }

    .freeshipping {
        font-size: 10px;
    }

    .garant {
        display: none;
    }

    .electricscooters {
        display: none;
    }

    .electricscooters_choice {
        display: none;
    }

    .see_everything {
        display: none;
    }

    .selection {
        display: none;
    }

    .my-unique-carousel .owl-stage-outer {
        display: none;
    }

    .freeShipping_electricscooters {
        display: none;
    }

    .popularCategories {
        display: none;
    }

    .popularCategories_cards {
        display: none;
    }

    .kogoo_russia {
        display: none;
    }

    .favorable_prices {
        display: none;
    }

    .online_store {
        display: none;
    }

    .order_options {
        display: none;
    }

    .video_card {
        display: none;
    }

    .favorable_prices {
        display: none;
    }

    .my-unique-carousel {
        display: none;
    }

    .video_reviews {
        display: none;
    }

    .new_articles {
        display: none;
    }

    .answer_questions {
        display: none;
    }

    .often_buy {
        display: none;
    }

    .email {
        width: 320px;
        width: 100%;
    }

    .email_form {
        height: auto;
        display: block;
    }

    .email_form_content {
        display: block;
    }

    .email_form_content button {
        display: block;
    }

    .email_form p {
        text-align: center;
        font-size: 14px;
        width: 100%;
        height: auto;
        padding: 0 18px 18px;
    }

    .email_form_content input {
        width: 100%;
    }

    .email_form_content-btn {
        margin-top: 16.5px;
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .footer_info_buyers {
        display: none;
    }

    .footer_logo {
        display: none;
    }

    .footer_payment {
        display: none;
    }

    .social_network {
        padding-top: 25px;
        text-align: center;
        width: 275px;
    }

    .social_network a {
        margin-left: 0;
        margin-right: 0;
    }

    .social_network a img:nth-child(1) {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .social_network a img:nth-child(2) {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .footer_logotips {
        padding-bottom: 0px;
        padding-left: 0;
    }

    .footer_requisites_link a {
        display: block;
        text-align: center;
    }

    .footer_requisites_link {
        display: block;
        width: 100%;
        padding-left: 0;
    }

    .footer_requisites_link-spec {
        margin-right: 0;
    }

    .header_board_container {
        background: url("../images/velo-back.png") no-repeat 205px bottom;
        background-size: 160px 120px;
        /* Четко определите размеры изображения */
        padding-top: 0px;
        height: 125px;
        /* Явно задайте высоту */
        width: 100%;
        box-sizing: border-box;
    }

    .header_board {
        max-width: 320px;
        width: calc(100% - 30px);
        height: auto;
        margin: 0 auto;
        overflow: visible;
    }

    .header_searc form {
        width: 100%;
    }

    .footer_requisites {
        padding-bottom: 60px;
        flex-direction: column;
    }

    .footer {
        display: block;
    }

    .footer_payment {
        display: none;
        margin: 0 auto;
    }

    .footer_payment-online_chat {
        padding-right: 0;
        margin-left: 20%;
        margin-bottom: 30px;
    }

    .nav_menu_logo_icon {
        display: block;
        /* Показываем иконку телефона */
    }

    .nav_menu_logo {
        display: flex;
        /* Показываем логотип и кнопки управления */
        justify-content: space-between;
    }

    .nav_menu_logo_icon {
        display: flex;
    }

    .nav_menu .about_store_link {
        display: none;
    }

    .service li {
        display: inline-block;
        position: relative;
        left: 5%;
        margin-right: 5%;
        margin-left: 0;
    }

    .chats {
        display: inline-block;
    }

    .chat_online {
        display: inline-block;
    }

    #uniqueCarousel .item {
        height: 125px;
    }

    .background1 .header_board_container_content {
        position: absolute;
        top: 15px;
    }

    .background2 .header_board_container_content {
        position: absolute;
        top: 10px;
    }
}