* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #F5F5F5;
    color: #333333;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}


.container {
    width: 1280px;
    margin: 0 auto;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.header_group {
    padding: 10px;
    background: #EAEDEF;
    height: 33px;
    margin-bottom: 15px;
    font-size: 10px;
}

.header_left {
    float: left;
    color: black;
    font-weight: 300;
}

.header_left img {
    display: inline-block;
    text-align: center;

}

.header_left a {

    color: black;
}

.header_left :last-child a {
    padding-left: 30px;
    font-weight: 700;
}

.header_right {

    float: right;
    font-weight: 700;
}

.header_right span {
    padding: 10px;

}

.logo {
    background: #fff;
    float: left;
}

.catalog {
    color: white;
    font-size: 11px;
    background: #BA257D;
    font-weight: 700;
    width: 195px;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    float: left;
    margin: 0 20px;
    padding-left: 20px;
}

.catalog img {
    padding-right: 20px;
    padding-top: 1px;
}

.form {
    float: left;
    border: 1px solid #BA257D;
    border-radius: 5px;
    width: 520px;
    height: 35px;
    margin-right: 50px;
}

.form img {
    float: right;
    padding: 5px 10px;

}

.header_icon {
    float: right;
    font-size: 10px;
    font-weight: 300;

}

.header_icon li {
    float: left;
    color: #333333;
    text-decoration: none;
    padding-right: 20px;
    text-align: center;
}

.header_icon li a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.menu {
    float: left;
    font-size: 12px;
    font-weight: 700;
    list-style: none;

}

.menu li {
    float: left;
    padding-right: 20px;
    align-items: center;

}

.menu li img {
    display: inline-block;

}

.menu a {
    padding-top: 20px;
    text-decoration: none;
    color: #333333;
    display: inline-block;

}

.banner {
    float: left;
    margin-top: 3px;
}

.discount {
    position: relative;
    margin-top: 3px;
    border: 1px solid rgb(51, 51, 51, 0.2);
    border-radius: 5px;
    background: #fff;
    width: 305px;
    height: 434px;
    float: right;
    font-weight: 700;
}


.first-paragraph {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0 3px 15px;
}


.second-paragraph {
    color: #FF0000;
    font-size: 16px;
    font-weight: 900;
    margin-left: 15px;
}

.third-paragraph {
    position: absolute;
    padding-top: 13px;
    text-align: center;
    color: #FAED38;
    font-size: 14px;
    margin-left: 190px;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    background: #BA257D;
   
    
}

.discount img {
    margin-left: 28px;
    display: inline-block;
}

.third-paragraph span {
    display: inline-block;
    color: #FAED38;
    font-size: 24px;
    
}

.fourth-paragraph {
    font-size: 12px;
    font-weight: 700;
    padding-left: 15px; 
    margin-top: 10px; 
    line-height: 15px;
} 

.stars {
    margin-top: 15px;
    color: #BA257D;
    font-size: 12px;
    font-weight: 400; 
}

.stars img {
    display: inline-block;
    margin-left: 15px;
    padding-top: 10px;
}
.fife {
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    margin-left: 15px;
}

.fifth-paragraph{
    font-size: 10px;
    color: #888888;
    font-weight: 700;
    margin: 15px 0 3px 15px;
   
}

.cost {
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
}

.inbasket {
    color: #fff;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    display: inline-block;
    background: #BA257D;
    height: 26px;
    width: 108px;
    margin-left: 15px;
    padding-top: 8px;
    border-radius: 4px;
}

.novelty {
    float: left;
    margin-top: 40px;
    padding-right: 20px;
    
    font-size: 32px;
    font-weight: 700;
}

.strelka {
    padding-right: 20px;
    display: inline-block;
    font-size: 31px;
    font-weight: 700;
    padding-top: 5px;
    margin-top: 40px;
}

.new-beds {
    
    margin-top: 28px;
    margin-right: -9px;
    margin-left: -9px;
}

.beds {
    position: relative;
    float: left;
    margin-right: 9px;
    margin-left: 9px;

}

.vigodno {
    position: absolute;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 4px;
    background: #B3B3FF;
    width: 77px;
    height: 24px;
    text-align: center;
    padding-top: 7px;
    
}

.circle{
    text-align: center;
    margin-left: 75px;
}

.cost1 span {
    font-size: 10px;
    color: #888888;
    font-weight: 700;
    margin: 15px 0 3px 5px;
}

.cost1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.bed-dins {
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 15px;
    
}

.inbasket1 {
    color: #fff;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    background: #BA257D;
    height: 26px;
    width: 108px;
    padding-top: 8px;
    border-radius: 4px;
    margin-top: 15px;
}

.skidka-30 {
    position: absolute;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 4px;
    background: #FF0000;
    width: 77px;
    height: 24px;
    text-align: center;
    padding-top: 7px;
    
}

.best-cost {
    position: absolute;
    color: #000000;
    font-size: 10px;
    font-weight: 700;
    border-radius: 4px;
    background: #FAED38;
    width: 92px;
    height: 24px;
    text-align: center;
    padding-top: 7px;
}

.beds-last {
    float: left;
    margin-top: 28px;
}

.sofas-six {
    margin-right: 9px;
    margin-left: 9px;
    border: #BA257D 1px solid;
    border-radius: 4px;
    float: left;
    width: 197px;
    height: 267.59px;
    margin-top: 20px;
}

.sofas {
    margin-left: -9px;
    margin-right: -9px;
}

.border {
    background: url(../img/yellow-back.png) no-repeat;
    margin: 5px;
    width: 184px;
    height: 254.46px;
}

.logotip-memi {
    margin: 15px 52px 45px 44px;  
}

.border p {
    margin: 0 45px 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.border span {
    font-weight: 700;
}

.sofa-img  {
    margin: 0 14px 1px 12px;
}

.popular_categories {
     
    color: #333333;
    font-size: 32px;
    font-weight: 700;
    margin: 30px 0 10px 0px;
}

.popular-furniture{
    margin-right: -8px;
    margin-left: -8px;
}

.furniture {
    float: left;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 13px;
    border-radius: 4px;
    background-color: #fff;
    height: 160px;
    width: 305px;
}

.soft-furniture {
    border-radius: 4px;
    color: #333333;
    width: 305px;
    height: 160px;
    background: url(../img/soft-furniture.png) no-repeat;
    
}

.quantity {
    font-weight: 400;
    font-size: 9px;
    color: #888888;
    padding-left: 130px;
    padding-top: 16px;
}

.soft {
    margin: 0 18px;
    font-weight: 700;
    font-size: 14px;
    
}

.rubles {
    font-weight: 700;
    font-size: 19px;
    margin: 85px 185px 25px 18px;
}

.living-rooms {
    border-radius: 4px;
    background: url(../img/p102-removebg-preview1.png) no-repeat right top;
    background-color: #fff;
    height: 159px;
    width: 305px;
}

.quantity1 {
    padding-left: 89px;
    font-weight: 400;
    font-size: 9px;
    color: #888888;
    padding-top: 16px;
}

.bedrooms {
    background: url(../img/bedrooms.png) no-repeat right bottom;
    
}

.mattresses {
    background: url(../img/mattresses.png) no-repeat right bottom;
}

.childrens {
    background: url(../img/childrens.png) no-repeat 180px bottom;
}

.quantity2 {
    padding-left: 80px;
    font-weight: 400;
    font-size: 9px;
    color: #888888;
    padding-top: 16px;
}

.hallways {
    background: url(../img/hallways.png) no-repeat 215px top;
    
}

.cabinets {
    background: url(../img/cabinets.png) no-repeat 170px top;
}

.kitchens {
    background: url(../img/kitchens.png) no-repeat right bottom;
}

.tables-chair {
background: url(../img/chair.png) no-repeat 215px bottom;
}

.office-furniture {
background: url(../img/office.png) no-repeat 175px bottom;
}

.small-furniture {
    background: url(../img/small.png) no-repeat right bottom;
}

.technique {
    background: url(../img/technique.png) no-repeat right bottom;
}

.recomend {
    font-size: 32px;
    font-weight: bold;
    margin-top: 38px;
}

.beds1 {
    float: left;
    margin-top: 15px;
    margin-right: 19px;
    margin-bottom: 20px;
}

.design {
    margin-top: 20px;
    background: #EAEDEF;
    height: 329px;
    width: 1280px;
    border-radius: 4px;
}


.design-kitchen  {
    float: right;
    margin-left: 20px;
    padding-top: 50px;
    padding-right: 93px;
    padding-bottom: 35px;
    
}

.design-project {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 30px;
}

.project-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-bottom: 40px;
}

.button-application {
    color: #BA257D;
    border-radius: 4px;
    border: 2px solid #BA257D; 
    height: 48px;
    width: 263px;
    cursor: pointer;

}

.new-collection {
    margin-left: -11px;
    margin-right: -10px;
    margin-bottom: 29px;
}

.collection {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.new-collection img {
    margin-bottom: 7px;
}

.collection-spring {
    font-size: 16px;
    font-weight: 700;
    
}

.collection-text {
    padding-top: 3px;
    font-size: 12px;
    font-weight: 300;
}

.popular_brends {
    font-size: 31px;
    font-weight: 700;
    margin-top: 29px;
}

.popular_brends-img {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
}

.popular_brends-img  li {
    text-decoration: none;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 22px;

}

.ideas {
    font-size: 31px;
    font-weight: 700;
    margin-top: 23px;
    padding-bottom: 20px;
}

.ideas-img {
    margin-right: -9px;
    margin-left: -9px;
}

.ideas-img li {
    text-decoration: none;
    float: left;
    margin-right: 9px;
    margin-left: 9px;
}

.fgh {
    float: right;
}

.ghj {
    float: left;
    margin-top: -198px;
    margin-left: 647px;
}

.special {
    font-size: 31px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
}

.banner-new {
    float: right;
    background: url(../img/bgbanner.png) no-repeat;
    width: 413px;
    height: 537px;
    border-radius: 4px;
    padding-top: 44px;
    
}

.lg {
    margin-left: 107px;
    margin-bottom: 30px;
}
.rub {
    font-size: 63px;
    font-weight: 700;
    margin-left: 92px;
    margin-bottom: 15px;
}

.promotional-code {
    font-size: 11px;
    font-weight: 400;
    color: #888888;
    margin-left: 105px;
    margin-bottom: 20px;

}

.new2022 {
    background: #BA257D;
    border-radius: 4px;
    height: 51px;
    width: 233px;
    margin-left: 90px;
    text-align: center;
    padding-top: 7px;
}

.new2022 a {
    
    text-decoration: none;
    color: #fff;
    font-size: 39px;
    font-weight: 700;

}

.woman-banner {
    margin-left: 94px;
    margin-top: 5px;
}