* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*.container-first {
    width: 320px;
    margin: 10px;
    line-height: 30px;
    padding: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.title-first {
    width: 290px;
}

.rubric-first {
    width: 290px;
}

.text-first {
    width: 270px;
}*/

.container-second {
    margin: 0 auto;
    padding: 20px;
    width: 1800px;
}

.form {
    margin: 10px 0;
}

.post-name {
    white-space: nowrap;
    width: 100%;
}

.post-name__name {
    float: left;
}

.post-name__input {
    width: 88%;
    margin-left: 75px;
    margin-right: 25px;
}

.rubric-second {
    margin-top: 5px;
}

.rubrica {
    margin-right: 135px;
}

.options {
    display: inline-block;
}

.public-text {
    margin-right: 100px;
}

.radio {
    display: inline-block;
    white-space: nowrap;
}

.comment {
    margin-bottom: 10px;
}

.text-second {
    width: 100%;
}

@media all and (max-width: 576px) {
    .form {
        text-align: left;
        max-width: 500px;
        line-height: 20px;
    }
    .container-second {
        max-width: 500px;
    }

    .post-name {
        white-space: wrap;
    }

    .post-name__name {
        float: none;
        display: block;
    }

    .post-name__input {
        width: 430px;
        margin-left: 0;
        display: block;
    }

    .rubrica {
        margin-bottom: 5px;
        display: block; 
    }

    .options {
        display: block;
        width: 430px;
    }

    .radio {
        display: block;
        margin-top: 5px;
    }

    .text-article__article {
        display: block;
    }

    .text-second {
        margin-top: 5px;
        width: 430px;
        display: block;
       line-height: 15px;
        
    }
}

@media all and (max-width: 480px) {
    .form {
        text-align: left;
        max-width: 320px;
        line-height: 20px;
    }
    .container-second {
        max-width: 320px;
    }

    .post-name {
        white-space: wrap;
    }

    .post-name__name {
        float: none;
        display: block;
    }

    .post-name__input {
        width: 320px;
        margin-left: 0;
        display: block;
    }

    .rubrica {
        margin-bottom: 5px;
        display: block; 
    }

    .options {
        margin: 0 auto;
        display: block;
        width: 320px;
    }

    .radio {
        display: block;
        margin-top: 5px;
    }

    .text-article__article {
        display: block;
    }

    .text-second {
        margin-top: 5px;
        width: 320px;
        display: block;
       line-height: 15px;
        
    }
}