* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container-first {
    width: 320px;
    margin: 10px;
    line-height: 30px;
    padding: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.title-first {
    width: 290px;
}

.rubric-first {
    width: 290px;
}

.text-first {
    width: 270px;
}

.container-second {
    margin: 0 30px;
}

.form {
    margin: 10px 0;
}

.post-name {
    white-space: nowrap;
    width: 100%;
}

.post-name__name {
    float: left;
}

.post-name__input {
    width: 100%;
    margin-left: 75px;
}

.rubric-second {
    margin-top: 5px;
}

.rubrica {
    margin-right: 135px;
}

.public-text {
    margin-right: 100px;
}

.radio {
    display: inline-block;
}

.comment {
    margin-bottom: 10px;
}

.text-second {
    width: 100%;
}

@media all and (max-width: 320px) {
    .container-second {
        max-width: 600px;
    }

    .post-name {
        white-space: wrap;
    }

    .post-name__name {
        float: none;
    }

    .post-name__input {
        width: 100%;
        margin-left: 0;
    }

    .rubrica {
        margin-bottom: 5px;
    }

    .public-text {
        margin-right: 100px;
    }

    .radio {
        display: block;
    }
}